@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

:root {
  --primary: #701a75;
  --secondary: #fdf4ff;
  --tertiary: #d946ef;
  --red: #dc2626;
}

::placeholder {
  color: var(--tertiary);
  font-size: medium;
}

.App {
  font-family: "Megrim", cursive;
  margin: 0px auto;
  background-color: var(--secondary);
  color: var(--primary);
  text-align: center;
  width: 100%;
}

.user-avatar {
  padding: 2rem;
  padding-top: 5rem;
  color: var(--primary);
  display: block;
}

.user-avatar img {
  max-width: 80%;
  width: 550px;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.navigation {
  background-color: var(--primary);
  padding: 1rem 0rem;
  color: var(--secondary);
}

.navigation .brand {
  font-weight: bolder;
  font-size: x-large;
  display: flex;
}

.navigation ul {
  list-style: none;
  text-align: right;
  padding-inline-start: 0px;
}

.navigation li {
  display: inline-block;
  padding: 0rem 0.8rem;
}

.navigation .link {
  text-decoration: none;
  color: var(--secondary);
}

.navigation .active {
  font-weight: bolder;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 4rem - 4rem);
}

.sub-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-enabled {
  color: var(--secondary);
  background-color: var(--primary);
  width: max-content;
  min-width: 100px;
  border-radius: 0.5rem;
  border-color: var(--primary);
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  font-family: "Megrim", cursive;
}

.btn-disabled {
  color: var(--secondary);
  background-color: var(--tertiary);
  width: max-content;
  min-width: 100px;
  border-radius: 0.5rem;
  border-color: var(--tertiary);
  padding: 0.5rem;
  margin: 1rem;
  cursor: not-allowed;
  font-family: "Megrim", cursive;
}

label {
  display: block;
  font-size: large;
  font-weight: 600;
  font-family: "Megrim", cursive;
}

input {
  font-size: larger;
  font-weight: bolder;
  outline: var(--secondary);
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  color: var(--primary);
  font-family: "Megrim", cursive;
}

.section h2 {
  text-align: center;
  margin: 0.5rem;
}

.error-msg {
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
  color: var(--red);
}

.output-msg {
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
  color: var(--primary);
}

h1 {
  text-align: center;
  padding: 0.5rem;
}

h3,
h4 {
  text-align: center;
  padding: 1rem;
}

.container {
  padding: 0rem 0rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 90%;
  width: 100%;
  margin: auto;
}

.container-footer {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
}

.unordered {
  list-style: none;
}

.list-inline li {
  display: inline;
  color: var(--secondary);
  padding: 0rem 0.5rem;
}

.footer {
  display: block;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 2rem 0rem;
  text-align: center;
}

.footer .heading {
  font-weight: bold;
  font-size: larger;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .link {
  color: var(--secondary);
}

.question-container {
  width: 85%;
  margin: 1rem auto;
  font-size: larger;
  padding: 1rem 0;
  text-align: justify;
}

.question-container p {
  font-weight: bold;
  margin: 1rem 0;
}

.question-container input {
  cursor: pointer;
  margin: 0rem;
}

.question-container label {
  font-weight: bolder;
  display: table-cell;
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 400px) and (max-width: 1281px) {
  .App {
    font-size: x-large;
  }

  .navigation ul {
    font-size: large;
  }

  label,
  input,
  .btn-enabled,
  .btn-disabled,
  .question-container input,
  .question-container label {
    font-size: larger;
  }
}

@media screen and (min-width: 411px) and (max-width: 415px) {
  .App {
    font-size: x-large;
  }

  .navigation ul {
    font-size: medium;
  }

  label,
  input,
  .btn-enabled,
  .btn-disabled,
  .question-container input,
  .question-container label {
    font-size: large;
  }
}

@media screen and (min-width: 359px) and (max-width: 362px) {
  .navigation ul {
    font-size: small;
  }
}

@media (max-width: 320px) {
  .App {
    font-size: small;
  }

  .navigation ul {
    font-size: xx-small;
  }

  .header {
    padding: 2rem;
  }

  input,
  .question-container input {
    width: auto;
  }
}
