@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

:root {
  --primary: #134e4a;
  --secondary: #f0fdfa;
  --tertiary: #14b8a6;
  --red: #dc2626;
}

::placeholder {
  color: var(--secondary);
  font-size: medium;
}

.App {
  font-family: "IBM Plex Mono", monospace;
  margin: 0px auto;
  background-color: var(--secondary);
  color: var(--primary);
  text-align: center;
  width: 100%;
}

.navigation {
  background-color: var(--primary);
  padding: 1rem 0rem;
  color: white;
}

.navigation .brand {
  font-weight: bold;
  font-size: large;
  display: flex;
}

.navigation ul {
  list-style: none;
  text-align: right;
}

.navigation li {
  display: inline-block;
  padding: 0rem 0.8rem;
}

.navigation .link {
  text-decoration: none;
  color: white;
}

.navigation .active {
  font-weight: bolder;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 4rem - 4rem);
}

.sub-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-enabled {
  color: var(--secondary);
  background-color: var(--primary);
  width: max-content;
  min-width: 100px;
  border-radius: 0.5rem;
  border-color: var(--primary);
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
}

.btn-disabled {
  color: var(--secondary);
  background-color: var(--tertiary);
  width: max-content;
  min-width: 100px;
  border-radius: 0.5rem;
  border-color: var(--tertiary);
  padding: 0.5rem;
  margin: 1rem;
  cursor: not-allowed;
  font-family: "IBM Plex Mono", monospace;
}

label {
  display: block;
  font-size: large;
  font-weight: 600;
  font-family: "IBM Plex Mono", monospace;
}

input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  color: var(--primary);
  font-family: "IBM Plex Mono", monospace;
}

.section h2 {
  text-align: center;
  margin: 0.5rem;
}

.error-msg {
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
  color: var(--red);
}

.output-msg {
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
  color: var(--primary);
}

h1 {
  text-align: center;
  padding: 0.5rem;
}

h3,
h4 {
  text-align: center;
  padding: 1rem;
}

.container {
  padding: 0rem 0rem;
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 90%;
  width: 100%;
  margin: auto;
}

.container-footer {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
}

.unordered {
  list-style: none;
}

.list-inline li {
  display: inline;
  color: var(--secondary);
  padding: 0rem 0.5rem;
}

.footer {
  display: block;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 2rem 0rem;
  text-align: center;
}

.footer .heading {
  font-weight: bold;
  font-size: larger;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .link {
  color: var(--secondary);
}

.question-container {
  width: 85%;
  margin: 1rem auto;
  font-size: larger;
  padding: 1rem 0;
  text-align: justify;
}

.question-container p {
  margin: 1rem 0;
}

.question-container input {
  cursor: pointer;
  margin: 0.5rem;
}
